---
layout: layout.njk
pageClass: posts
---

<article class="prose dark:prose-dark max-w-5xl">
  <h1 class="border-b-2 border-gray-500 text-2xl font-semibold mt-2">{{ title }}</h1>
  <time value="{{ entry.date }}" class="block text-lg text-gray-700 mb-4">{{ date | entryDate }}</time>
  
  <div class="mb-4 text-lg">
    {{ content | safe }}
  </div>
</article>