---
layout: layout.njk
pageClass: posts
---

<article class="blogentry">
  <h1 class="border-b-2 border-gray-500 text-2xl text-blue-900 font-semibold">{{ title }}</h1>
  <time value="{{ entry.date }}" class="block text-lg text-gray-700">{{ date | entryDate }}</time>

  
  <div class="mb-4 text-lg font-medium">
    {{ content | safe }}
  </div>
</article>