<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed" href="/feed.xml"/>
    <title>{{ title }}</title>

    <script src="https://kit.fontawesome.com/1ac284761b.js" crossorigin="anonymous"></script>
  </head>
  <body class="bg-gray-100 p-6 font-sans leading-normal tracking-normal">

    <header class="container max-w-5xl mx-auto pt-5 border-b-2">
        <div class="flex flex-wrap -mx-2 overflow-hidden lg:px-0">

            <div class="px-2 w-1/3 overflow-hidden text-center md:text-left">
                <h1 class="font-bold text-2xl">Ben Hyrman</h1>
            </div>

            <nav class="my-2 px-2 w-1/3 overflow-hiddentext-center md:text-left">
                <ul>
                    <li class="inline-block">
                      <a class="nav-link {% if page.url === '/' %} active {% endif %}" href="/">Home</a>
                    </li>
                    <li class="inline-block">
                      <a class="nav-link {% if page.url === '/blog/' %} active {% endif %}" href="/blog/">Blog</a>
                    </li>
                    <!-- <li class="inline-block">
                      <a class="nav-link {% if page.url === '/projects/' %} active {% endif %}" href="/projects/">Projects</a>
                    </li> -->
                </ul>
            </nav>
          
            <div class="w-1/3 overflow-hidden text-center md:text-right">
                <a href="https://github.com/hyrmn" title="GitHub" class="nav-link-social">
                    <i class="fab fa-github fa-2x"></i>
                </a>
                <a href="https://twitter.com/hyrmn" title="Twitter" class="nav-link-social">
                    <i class="fab fa-twitter fa-2x"></i>
                </a>
                <a href="https://linkedin.com/in/benhyrman" title="LinkedIn" class="nav-link-social">
                    <i class="fab fa-linkedin fa-2x"></i>
                </a>
                <a href="https://www.flickr.com/photos/benhyr" title="Flickr" class="nav-link-social">
                    <i class="fab fa-flickr fa-2x"></i>
                </a>
              </div>
          
          </div>
    </header>

    <div class="container mx-auto mb-6">
      <div class="max-w-5xl mx-auto pt-2 pb-2">
        {{ content | safe }}
      </div>
    </div>

    <footer class="container max-w-5xl mx-auto pt-5 border-dashed border-gray-500 border-t-2 mb-6">
        <ul>
            <li>&copy; 2006 - 2020 &mdash; Ben Hyrman
            <li>Writing and website design is <a href="https://github.com/hyrmn/hyr.mn">available on GitHub</a> and licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
            <li>Icons are copyright <a href="https://fontawesome.com">Font Awesome</a> and licensed under a <a rel="license" href="https://fontawesome.com/license/free">Creative Commons BY 4.0 International License</a>
        </ul>
    </footer>
    
  </body>
  <script>
    self.addEventListener('install', function(e) {
        self.skipWaiting();
      });
      
      self.addEventListener('activate', function(e) {
        self.registration.unregister()
          .then(function() {
            return self.clients.matchAll();
          })
          .then(function(clients) {
            clients.forEach(client => client.navigate(client.url))
          });
    });
  </script>
</html>