@import 'tailwindcss';

@config '../../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-stone-200, currentcolor);
  }
}

@layer base {

  h2 {
    @apply mt-4;
    @apply font-semibold;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-blue-500;
    @apply underline;
    @apply underline-offset-2;
  }

  a:hover,
  a:focus {
    @apply text-yellow-600;
  }

  code {
    @apply text-sm;
    @apply rounded;
    @apply bg-stone-100;
    @apply dark:bg-stone-800;
    @apply px-1;
    @apply py-0.5;
  }

  blockquote {
    @apply border-l-4;
    @apply border-stone-300;
    @apply dark:border-stone-700;
    @apply block;
    @apply pl-4;
    @apply italic;
    @apply text-stone-500;
    @apply dark:text-stone-400;
  }
}

@utility prose {
  & ul {
    @apply list-disc;
    @apply pl-6;
  }
}

.visually-hidden {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].visually-hidden,
a[href].visually-hidden:visited {
  color: transparent;
}

a[href].visually-hidden:focus,
a[href].visually-hidden:focus:visited,
:hover>a[href].visually-hidden,
:hover>a[href].visually-hidden:visited {
  color: #aaa;
}
