@import 'tailwindcss';

@config '../../../tailwind.config.js';

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility nav-link {
  @apply block;
  @apply font-semibold;
  @apply px-3;
  @apply border-b-2;
  @apply border-gray-100;
  @apply no-underline;

  &.active {
    @apply font-bold;
    @apply border-blue-500;
  }

  &:hover {
    @apply text-blue-500;
    @apply border-b-2;
    @apply border-blue-800;
  }
}

@utility active {
  &.nav-link {
    @apply font-bold;
    @apply border-blue-500;
  }
}

@utility nav-link-social {
  @apply inline-block;
  @apply font-semibold;
  @apply border-b-0;
  @apply w-6;
  @apply mr-4;
}

@utility prose {
  & ul {
    @apply list-disc;
    @apply pl-8;
  }
}

@layer base {

  h2 {
    @apply mt-4;
    @apply font-semibold;
  }

  p {
    @apply mb-4;
  }

  a {
    @apply text-blue-400;
    @apply underline;
  }

  a:hover,
  a:focus {
    @apply text-yellow-700;
  }

  code {
    @apply text-sm;
    @apply rounded-sm;
  }

  blockquote {
    @apply border-l-4;
    @apply border-gray-500;
    @apply block;
    @apply pl-2;
  }
}

.visually-hidden {
  font-family: sans-serif;
  text-decoration: none;
  font-style: normal;
  margin-left: .1em;
}

a[href].visually-hidden,
a[href].visually-hidden:visited {
  color: transparent;
}

a[href].visually-hidden:focus,
a[href].visually-hidden:focus:visited,
:hover>a[href].visually-hidden,
:hover>a[href].visually-hidden:visited {
  color: #aaa;
}     