---
layout: layout.njk
title: Welcome to my blog
---

{%- for entry in collections.blogentries | reverse -%}
<section class="mt-6">
    <h4 class="text-lg font-bold"><a href="{{ entry.url }}">{{ entry.data.title }}</a></h4>
    <time value="{{ entry.date }}" class="text-gray-600">{{ entry.date | entryDate }}</time>
    <div>
    {{ entry.data.description | safe }}
    </div>
</section>
{%- endfor -%}
