---
layout: layout.njk
title: Projects for your amusement and consideration
---

<p class="mb-6 mt-6 text-xl">My two favorite ways to learn are to make little toy apps and write. Below are some of my tinkerings where I've brought those together. Hopefully they'll be useful to you in some fashion as well.
</p>
<p class="mb-6 mt-6 text-xl">
Ideally, they're small. Likely, they exist I wanted to learn something or illustrate a concept on its own. You may laugh at why I even bothered to make them. But, I had fun.
</p>

<div class="w-full p-2 bg-gray-200 rounded">
  <div class="border-b-2 border-gray-500 text-2xl text-blue-900 font-semibold">Projects</div>

    <div class="w-full mt-6 rounded overflow-hidden shadow-lg bg-gray-100">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">Counting Lines in Various Languages</div>
            <p class="text-gray-700 text-base mb-6">
                I was reflecting on <a href="https://en.wikipedia.org/wiki/Unix_philosophy">The Unix Philosophy</a> and it struck me that `wc` (a command-line utility that can count words, characters, and lines)
                would be interesting to replace. But, unlike `wc`, I would only do one thing. Count lines. In writing my own utility, I could learn how to read input from the command line.
            </p>
            <p class="text-gray-700 text-base mb-6">
                But, even better, I could rewrite the same utility in a few languages to get a sense for how various languages compare with a problem that is trivial but useful.
            </p>
            <ul class="mt-6">
                <li><span>Go:</span> <a href="https://github.com/hyrmn/lc">Code</a> | <a href="/blog/counting-flowers-on-the-wall">Blog Post</a>
                <li><span>.NET Core:</span> <a href="https://github.com/hyrmn/nlc">Code</a>
            </ul>
        </div>
    </div>

</div>
