---
layout: layout.njk
title: Testing things
---

<div id="rscalendar"></div>
<script src="https://guest-test.rezstream.com/cdn/content/js/rezstreamLoader.min.js" type="text/javascript"></script>
<script type="text/javascript">
global.RezStream = { beUrl: 'https://guest-test.rezstream.com/' }
rezStreamLoader.load({
	calElements: '#rscalendar',
	business: 'dawns-house-of-data-qa',
	inlineMonths: 3,
});
</script>