---
layout: layout.njk
title: Phone Test
---

<div class="flex flex-wrap -mx-4 overflow-hidden">
    <div class="visible sm:hidden print:block pl-4">
        <div class="mb-2">
            <h1 class="text-3xl font-bold">Phone Number no country code</h1>
        </div>
        <div class="mb-2">
            Try this one: <a href="tel:7654701740" title="a phone" class="text-lg no-underline">765 470 1740</a>
        </div>
    </div>

<div class="visible sm:hidden print:block pl-4">
        <div class="mb-2">
            <h1 class="text-3xl font-bold">Phone Number with country code</h1>
        </div>
        <div class="mb-2">
            Try this one: <a href="tel:+17654701740" title="a phone" class="text-lg no-underline">+1 765 470 1740</a>
        </div>
    </div>
    
</div>    
